<li>
    <a href="/singleGoods/:<%= goods._id%>">
        <img src="/<%= goods.icons%>>"/>
        <div class="txt">
            <div>
                <h3><%= goods.name%>></h3>
                <h4>гд<%= goods.price%>></h4>
            </div>
            <p><%= goods.describe%></p>
        </div>
    </a>
</li>
