<%- include('header')%>
<div class="cont">
    <div class="catalog">
        <%genre.forEach(function(genre){%>
        <label>商品类别=><%= genre.name%></label>
        <p></p>
        <div class="detail">
            <ul>
                <%
                var gen = genre.children.split('，');
                    for(var i=0;i<gen.length;i++){
                 %>
                <li><a href="javascript:alert('暂未开放！试试搜索')"><%= gen[i]%></a></li>
                <%}%>

            </ul>
        </div>
        <%})%>

    </div>
    <div>
        <h2>总共查询出：<b><%= goods.length%></b>条记录</h2>

    </div>
    <div class="displ">
        <ul>
            <% goods.forEach(function(goods){%>
            <li>
                <a href="/main/<%= goods._id%>/single">
                    <img src="/<%= goods.icons%>"/>
                    <div class="txt">
                        <div>
                            <h3><%= goods.name%></h3>
                            <h4>￥<%= goods.price%></h4>
                        </div>
                        <p><%= goods.describe%></p>
                    </div>
                </a>
            </li>
            <%})%>
        </ul>
    </div>
</div>


<%- include('footer')%>
